header {
  border-bottom: 1px gray solid;
  padding: 40px;
}

nav {
  border-bottom: 1px gray solid;
}

nav ul {
  padding-top: 10px;
}

nav ul li{
  display: inline;
  border-left: 1px solid #999
  font:bold 12px Dotum;
  padding: 0 10px;
}

nav ul li:first-child {
  border-left: none;
}

article {
  padding: 10px;
}

#device_manage_info{
  border: 1px solid gray;
  padding: 10px;
  margin-bottom: 10px;
}

#device_manage_info:first-of-type{
  margin-top: 20px;
}
